<%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
            <% @item.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name, '굿즈명 *' %>
        <%= f.text_field :name, required: true %>
    </div>
    <div class="field">
        <%= f.label :seller_url, '총대 계정 *' %>
        <%= f.text_field :seller_url, required: true %>
    </div>
    <div class="field">
        <%= f.label :artist_url, '금손 계정' %>
        <%= f.text_field :artist_url, placeholder: '겹치면 비움' %>
    </div>
    <div class="field">
        <%= f.label :form_url, '폼 링크 *' %>
        <%= f.text_field :form_url, pattern: 'https?://.+', placeholder: 'http(s)://~', required: true %>
    </div>
    <div class="field">
        <%= f.label :kind, '굿즈 종류' %>
        <%= f.text_field :kind %>
    </div>
    <div class="field">
        <%= f.label :state, '상태 *' %>
        <%= f.select :state, options_for_select(array_to_select_options(Constants::SaleState::STR), f.object[:state]), {include_blank: '상태 선택'}, required: true %>
    </div>
    <div class="field">
        <%= f.label :due_date, '마감일 *' %>
        <%= f.date_field :due_date, required: true %>
    </div>
    <div class="field">
        <%= f.label :img_main, '대표이미지 *' %>
        <%= f.text_field :img_main, pattern: 'https?://.+', placeholder: 'http(s)://~', required: true %>
    </div>
    <div class="field">
        <label>해당 멤버 *</label>
        <div class="members">
            <%= f.collection_check_boxes(:member_ids, Member.all, :id, :name) %>
        </div>
    </div>

    <%= f.submit :submit, value: '등록하기', id: 'submit' %>
<% end %>