<% content_for :js_css do %>
    <%= stylesheet_link_tag 'items/index', media: 'all' %>
    <%= javascript_include_tag 'items/index' %>
<% end %>

<div id="contents">
    <div class="mon_select">
        <%= params[:month].to_date.mon %>월
        <%= link_to params.merge(month: params[:month].to_date.next_month), class: 'next mon' do %>
            <div class="arrow"></div>
            <div class="text">다음</div>
        <% end %>
        <%= link_to params.merge(month: params[:month].to_date.prev_month), class: 'last mon' do %>
            <div class="arrow"></div>
            <div class="text">이전</div>
        <% end %>
    </div>

    <div class="state_select">
        <%= link_to params.except(:state) do %>
            <div id="survey" class="<%= 'active' if params[:state] == '0' %>">수량조사</div>
        <% end %>
        <%= link_to params.merge(state: '1') do %>
            <div id="paying" class="<%= 'active' if params[:state] != '0' %>">입금</div>
        <% end %>
    </div>

    <div class="group_select">
        <div id="group_selector">
            <div class="selected">
                <% if params[:group].present? %>
                    <%= Group.where('id = ?', params[:group]).first.name %>
                <% else %>
                    전체보기
                <% end %>
            </div>
            <div class="selector">
                아이돌 선택
                <div class="icon"></div>
            </div>
        </div>
        <div id="drop_down">
            <%= link_to '전체보기', params.except(:group), class: 'group' %>

            <% @groups.each do |group| %>
                <%= link_to group.name, params.merge(group: group.id), class: 'group' %>
            <% end %>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th class="img"></th>
            <th class="group">아이돌</th>
            <th class="name">굿즈 이름</th>
            <th class="link">바로가기</th>
        </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
        <% group = item.members.first.group %>
            <tr>
                <td class="img">
                    <div class="item_img" style="background-image: url('<%= item.img_main %>')"></div>
                </td>
                <td class="group">
                    <div class="item_group"><%= link_to group.name, params.merge(group: group.id) %></div>
                </td>
                <td class="name">
                    <div class="item_kind"><%= item.kind %></div>
                    <div class="item_name"><%= item.name %></div>
                </td>
                <td class="link">
                    <%= link_to item.state == 1 ? '선입금' : '일반입금', item.form_url, target: '_blank', class: 'form' %>
                    <%= link_to '트위터', 'https://twitter.com/' + item.seller_url, target: '_blank', class: 'twitter' %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <% if @items.length <= 0 %>
        <div id="empty">굿즈 정보 수집 중입니다!</div>
    <% end %>
</div>